/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url("../images/rabbit_race.jpg");
}

main#two-columns {
  margin: 50px 0;
  display: flex;
}

main#two-columns section {
  max-width: 50vw;
}

section#accelerate button {
  height: 300px;
  width: 300px;
  margin: 30px auto;
  border-radius: 180%;
  background-color: green;
  border-color: rgb(14, 166, 6);
  cursor: pointer;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

#accelerate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gas-peddle {
  color: white;
  font-size: 30px;
}

#leaderBoard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
